<h1>글을 수정하는 페이지입니다</h1>
<form action='/home/update/<%=@post.id%>' method='post'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    제목: <input type = 'text' name ='post_title' value='https://www.youtube.com/watch?v=<%=@post.title%>'><br><br>
    내용: <textarea name='post_content'><%=@post.content%></textarea><br><br>
    <input type='submit' value='수정'>
</form>